# SCS 3250 Foundations of Data Science
# Introduction to Python

## Variables, Types and Values

In [ ]:
# Integers
23 + 45

In [ ]:
# We can add, subtract, multiply numbers
68 - 60

In [ ]:
8 * 2

In [ ]:
# In Python 2.7 we didn't need parentheses
a = 5
print(a)

In [ ]:
b = 'Welcome to Python'
b

In [ ]:
c = "Welcome to Class 3250"
c

In [ ]:
isinstance(c, int)

In [ ]:
# Let's check what is the type of variable c
type(c)

In [ ]:
type('3.1415926')

In [ ]:
# String concatenation
b + c

In [ ]:
# make it look pretty
b + ' ' + c

In [ ]:
# and even prettier
'"' + b + '"' + ' and ' + '"' + c + '"'

In [ ]:
# Concatenate a number with a string?
a + b

In [ ]:
# "Snake case"
a_long_variable_name_in_snakecase = 12
a_long_variable_name_in_snakecase

In [ ]:
# Variable names can't start with a number
1_is_not_a_valid_way_to_start_a_variable_name = 12

In [ ]:
# But they can be mixed case
var1 = 7
Var1 = 7

In [ ]:
# Comparison operator returns only True or False
var1 == Var1

In [ ]:
# Variable names are case-sensitive
var1 = 0
var1 == Var1

In [ ]:
# Basic Types

# Boolean: True or False
# Int: Integer
# Long: Integer
# Float: Floating point number; actually same as double in other languages
# String: String of characters

In [ ]:
# a is still 5
a

In [ ]:
type(a)

In [ ]:
# but we can assign a value of a completely different type
a = 34.87978734987239847928732974932874398723982379237298734
a

In [ ]:
type(a)

In [ ]:
# We would expect this to likely be true
a == 34.87978734987239847928732974932874398723982379237298734

In [ ]:
# What about this?
a == 34.87978734987239847928732974932874398723982379237290000

In [ ]:
a == 34.8797873498724

In [ ]:
a == 34.87978734987239

In [ ]:
# So, we need to be very careful about comparing floating point numbers for equality
# See "What Every Computer Scientist Should Know About Floating-Point Arithmetic"
# https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

In [ ]:
# What type will b be?
b = 1
type(b)

In [ ]:
# How about now?
# In Python 2.7 this would have been long
b = 1111111111111111111111111111
type(b)

In [ ]:
# The difference is 1.  What type will b be?
b = 1111111111111111111111111111 - 1111111111111111111111111110
b

In [ ]:
# Cannot use a reserved keyword as a variable name
class = 6

## Expressions

In [ ]:
# Expressions are math expressions that can be evaluated to a value

In [ ]:
a = 5
b = 2
a + b # is an example of an expression

In [ ]:
# Expressions follow the usual math order of operations
(4 + 3) * (2 * 2)

In [ ]:
# You can use variables
# Exponentiation is denoted by **
(a + b)**2

In [ ]:
# Spaces in mathematical expressions don't matter
(a+b)                                    **                        2

In [ ]:
# but it's generally considered good form to put a space around operators:
(a + b) ** 2

In [ ]:
# Division was a special case in Python 2
# The standard division if the two numbers are integers was the floor division
# in Python 3.6, this division is a true division (float)
1 / 2

In [ ]:
# Now, if you need to perform the floor division, you need to do the following:
1 // 2

In [ ]:
# Evaluate the average of these numbers: 1, 67, 23, 4
# Put your expression in this cell and execute it to confirm it works

(1 + 67 + 23 + 4) / 4

## Statements

In [ ]:
# A statement does not have a value
# assignment (b = 5) is a statement, not an expression
# print() is now a function that returns NoneType
b = 5
c = print(b)
type(c)

In [ ]:
# The first two lines are statements, the third is an expression
b = 5
a = (b + 3) + 34
a

<h2>Functions</h2>

In [ ]:
def f(a, b):
    a = a + 2
    return a ** b

In [ ]:
f(4,2)

In [ ]:
# This will return an error
f('string1','string2')

## Conditionals

In [ ]:
# Boolean Expression
x = True
y = False
x == y

In [ ]:
# Logical operators: *and*, *or* and *not*. Return True or False
n = 6
n%2 == 0 or n%3 == 0 # any comparison should be True

In [ ]:
n%2 == 0 and n%3 == 0 # both should be True

In [ ]:
# *not* negates boolean expression
x = 5
y = 6
not (x > y)

In [ ]:
# Conditional execution
x = 3
if (x > 2):
    print(x)

In [ ]:
x = 90
if (x < 50):
    print("under 50")
elif (x < 75):
    print("under 75")
elif (x < 100):
    print("under 100")

In [ ]:
#Nested Conditional Statement
y = 8
if (y > 0):
    if (y > 10):
        print(y)
    else:
        print("y > 0, but y is not >10")
else:
    print("y is not greater than 0")

## Iteration

In [ ]:
#Prints x three times
# while statement evaluates the condition, True or False. If True - continue, False - exit

x = "hello world!"
n = 0
while (n < 3):
    print(x)
    n += 1 # same as n = n + 1

In [ ]:
from __future__ import division
def counter(n):
    while (n < 1000):
        if ((n * 11) % 7 == 0):
            print(n)
            break
        else:
            n += 1                   

counter(15)

## Strings

In [ ]:
string_name = "Jane"
print(string_name)

In [ ]:
len(string_name)

In [ ]:
for char in string_name:
    print(char)

In [ ]:
#What should the output be?
string_name[2:4]

In [ ]:
string_name[4] #Out of range

In [ ]:
# The following will return the last character in a string
string_name[-1]

In [ ]:
print(string_name[-4])
print(string_name[-3])
print(string_name[-2])
print(string_name[-1])

In [ ]:
# The following function will search for a character in a string
# If the character is found, it will exit and print index of the found character
# If the character is not found, the function returns -1

def search (ch, word):
    index = 0
    while (index < len(word)):
        if (word[index] == ch):
           return index
        index += 1
    return -1
search('p',string_name)

In [ ]:
# Counting how many times a certain character appears in the string

name = "Mississauga"
count = 0
for char in name:
    if char == "s":
        count += 1
print(count)

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
# Please note that the original string is NOT modified by lower() and upper() functions
name

In [ ]:
"and" in "A brand new day"

In [ ]:
'm' in name

In [ ]:
name

In [ ]:
search('M',name)

In [ ]:
search('m',name)

In [ ]:
# the function to count the number of occurrences of a certain string within a string
name.count('s')

In [ ]:
new_str = name.lower()
new_str

In [ ]:
'm' in new_str

In [ ]:
'm' in name

In [ ]:
'gghhiijj'.count('gh') # of non-overlapping occurrences of substring

In [ ]:
','.join(['aa','bb','cc']) # use string as delimiter for concatenating a sequence of other strings

In [ ]:
'history'.replace('h', 'preh') # replace occurrences of string with another string

In [ ]:
'now,is,the,time'.split(',') # break string into list of substring using passed delimiter

In [ ]:
# String comparison
name

In [ ]:
new_str

In [ ]:
name == new_str

In [ ]:
name.replace('M','m')

In [ ]:
# Note that replace() function does not modufy the original string
name

In [ ]:
# strings cannot be modified, they are immutable:
name[5] = 'S'

In [ ]:
# You can do the following though:
name = name.upper()
name

In [ ]:
# however, the line of code above didn't modify the original string,
# it simply created a new string object and assigned the value of this string
# to a variable 'name'

## Lists

In [2]:
# Unlike strings, lists are muttable, any element can be modified, removed and 
# new elements can be added to the list

x = ["a", "b", "c", "d","m","n","p"]
# modifying the second element in the list
x[1] = "aa"
x

['a', 'aa', 'c', 'd', 'm', 'n', 'p']

In [3]:
# The [-1] index returns the last element in the list
x[-1]

'p'

In [ ]:
# The + operator concatenates lists
z = ['e','f','g','h']
my_list = x + z
my_list

In [ ]:
# The * operator repeats a list a given number of times 
j = [1, 2, 3]
j * 5

In [ ]:
# number of objects in the list
len(j)

In [ ]:
# The * operator does not modify the original list
new_j = j * 5
new_j

In [ ]:
# the original list still has 3 elements
j

In [ ]:
# If we want to add a single element to a list:
x.append('b')
x

In [ ]:
# If we want to add multiple elements to the list, use extend()
x.extend(['qw','er'])
x

In [ ]:
# let's try to append the same list of 2 string elements to the list x:
x.append(['qw','er'])
x

In [ ]:
# x is now a nested list. To access the first element of a nested list:
x[-1][0]

In [ ]:
# we can sort objects in the list
new_j.sort()
new_j

In [ ]:
# and we can reverse the order of elements within a list
new_j.reverse()
new_j

In [ ]:
# Counting how many times an element occurs in a list
new_j.count(3)

In [ ]:
# Nested List
y = [x, x]
y

In [ ]:
# List function pop(p) - removes an element from the list
y.pop(1)
y

In [ ]:
# Slicing
# This returns all elements from 1st (including) to 4th (excluding) indeces
x[1:4]

In [ ]:
# if 1st index is ommitted, the slice starts from first element with index 0
x[:4]

In [ ]:
# This creates a copy of the list
x[:]

In [1]:
# What this will return?
x[1:-1]

NameError: name 'x' is not defined

In [ ]:
# inserting an element inside the list
# in the example below, inserting integer 100 after the 2nd element 'aa'
x.insert(2,100)
x

In [ ]:
# it is possible to remove a certain element of a list by speccifying the value to be removed
x.remove('aa')
x

In [ ]:
# removing based on an index will return an error
x.remove(2)

## Dictionaries

In [2]:
new_dictionary = {"a" : 1, "b" : 2, "c" : 3}
new_dictionary

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# If we need to update the value of 'b'
new_dictionary['b'] += 10
new_dictionary

In [3]:
# all keys
K = new_dictionary.keys()
K

dict_keys(['a', 'b', 'c'])

In [4]:
# If we need to add a key/value pair to the dictionary
new_dictionary['xyz'] = 123
new_dictionary

{'a': 1, 'b': 2, 'c': 3, 'xyz': 123}

In [5]:
new_dictionary.values()

dict_values([1, 2, 3, 123])

In [ ]:
new_dictionary['xx']

In [6]:
# Validate if a certain key is in the dictionary
'xx' in new_dictionary

False

In [7]:
alternative_dictionary = {"a": "1", "b":{"x": "3", "y": 13}}
alternative_dictionary

{'a': '1', 'b': {'x': '3', 'y': 13}}

In [8]:
another_dictionary = {"a": "1", "b":[1, 2, 3]}
another_dictionary

{'a': '1', 'b': [1, 2, 3]}

## Tuples

In [ ]:
t = tuple("learning")
t

In [ ]:
lat = 45
longit = 32
coord = (lat,longit)
coord

In [ ]:
type(coord)

In [ ]:
(1, '45')

In [ ]:
# Slicing works just like in lists
t[:5]

In [ ]:
t[7] = "X"

In [ ]:
# You cannot modify the elements of a tuple but you can replace one element with another:
t = ('L',) + t[1:]
t

In [ ]:
# Create tuple with a single element:
t1 = (56,)
t1

In [ ]:
type(t1)

In [ ]:
# compare to
t2 = (56)
t2

In [ ]:
type(t2)

In [ ]:
# Easy way to swap the values of 2 variables
a = "art"
b = "bass"
(a, b) = (b, a)
print(a)
print(b)

In [ ]:
# merging a list and a string into a list of tuples
s = 'world'
l1 = [1,2,3,4]
Z = zip(s,l1)
type(Z)

In [ ]:
# unpacking tuple
for letter,number in Z:
    print(number,letter)